:root {
  /** Color */
  --black: #000;
  --gray-900: #212121;
  --gray-800: #424242;
  --gray-700: #616161;
  --gray-600: #757575;
  --gray-500: #9e9e9e;
  --gray-400: #bdbdbd;
  --gray-300: #e0e0e0;
  --gray-200: #eee;
  --gray-100: #f5f5f5;
  --gray-50: #fafafa;
  --white: #fff;

  --red-900: #b70000;
  --green-800: #1f7900;
  --blue-800: #0059c2;
  --yellow-900: #aa7000;

  --negative: var(--red-900);
  --success: var(--green-800);
  --information: var(--blue-800);
  --warning: var(--yellow-900);

  --description: var(--gray-700);
  --disabled: var(--gray-400);
  --bg-disabled: var(--gray-200);

  /** Font Size */
  --font-size-90: 5.625rem;
  --font-size-64: 4rem;
  --font-size-45: 2.8125rem;
  --font-size-32: 2rem;
  --font-size-24: 1.5rem;
  --font-size-18: 1.125rem;
  --font-size-16: 1rem;
  --font-size-14: 0.875rem;
  --font-size-12: 0.75rem;

  /* Spacing Primitive */
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-11: 3rem;
  --spacing-12: 3.5rem;
  --spacing-16: 4rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;

  /* Radius Primitive */
  --radii-1: 0.25rem;
  --radii-2: 0.5rem;
  --radii-3: 0.75rem;
  --radii-4: 1rem;
  --radii-5: 1.25rem;
  --radii-6: 1.5rem;

  /* Size Primitive */
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-7: 1.75rem;
  --size-8: 2rem;
  --size-9: 2.25rem;
  --size-10: 2.5rem;
  --size-11: 3rem;
  --size-13: 3.25rem;
  --size-12: 3.5rem;
  --size-14: 3.75rem;
  --size-16: 4rem;
  --size-24: 6rem;
  --size-32: 8rem;
}
