/**
  100 Thin
  200 Extra Light(Ultra Light)
  300 Light
  400 Normal(Regular)
  500 Medium
  600 Semi Bold(Demi Bold)
  700 Bold
  800 Extra Bold(Ultra Bold)
  900 Black(Heavy)
*/

@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif KR'), url('../Assets/Fonts/NotoSerifKR-Regular.woff2') format('woff2'),
    url('../Assets/Fonts/NotoSerifKR-Regular.woff') format('woff'),
    url('../Assets/Fonts/NotoSerifKR-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Serif KR'), url('../Assets/Fonts/NotoSerifKR-Medium.woff2') format('woff2'),
    url('../Assets/Fonts/NotoSerifKR-Medium.woff') format('woff'),
    url('../Assets/Fonts/NotoSerifKR-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-weight: 600;
  src: local('Noto Serif KR'), url('../Assets/Fonts/NotoSerifKR-SemiBold.woff2') format('woff2'),
    url('../Assets/Fonts/NotoSerifKR-SemiBold.woff') format('woff'),
    url('../Assets/Fonts/NotoSerifKR-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Serif KR'), url('../Assets/Fonts/NotoSerifKR-Bold.woff2') format('woff2'),
    url('../Assets/Fonts/NotoSerifKR-Bold.woff') format('woff'),
    url('../Assets/Fonts/NotoSerifKR-Bold.otf') format('opentype');
}
