.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1.5rem 1.5rem 4.5rem;
}

.meta-info {
  font-size: var(--font-size-18);
}

.no-post-description {
  margin-top: 0.5rem;
  color: var(--gray-800);
}
