.trigger {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: var(--spacing-1);
  border-bottom: 1px solid var(--gray-900);

  position: relative;

  user-select: none;
  cursor: pointer;

  &:focus-visible {
    border-radius: var(--radii-sm);
    outline: 3px solid lightblue;
  }

  &[aria-disabled='true'] {
    color: var(--gray-400);
    background-color: var(--gray-200);
  }
}

.size-18 {
  width: 1.125rem;
  height: 1.125rem;
}

.option-box {
  position: absolute;
  top: calc(100% + 0.75rem);
  left: 50%;

  width: fit-content;

  border-radius: 0.75rem;
  background-color: var(--white);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);

  transform: translateX(-50%);

  padding-block: 0.75rem;

  // animation: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) fadein;
  animation: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) showon;

  ul {
    list-style: none;
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem 0.75rem;
    width: 100%;
    white-space: nowrap;
  }

  &::after {
    content: '';
    background-color: var(--white);
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    top: 0;
    left: 50%;

    border-radius: 0.0625rem;
    transform: translateX(-50%);

    rotate: 45deg;

    box-shadow: -4px -4px 0.75rem 0 rgba(0, 0, 0, 0.2);
  }
}

@keyframes showon {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(30%);
  }

  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

.rotate-animation {
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.rotated {
  rotate: -180deg;
}

.selected {
  font-weight: 700;
}
